#! /usr/bin/env bash

sudo -u obzora /opt/obzora/lnms smokeping:generate --targets > /etc/smokeping/obzora-targets.conf
sudo -u obzora /opt/obzora/lnms smokeping:generate --probes  > /etc/smokeping/obzora-probes.conf

systemctl reload smokeping > /dev/null 2<&1
